# Entorno virtual
.venv/

# Artefactos de build/instalador
/build/
/dist/
/Output/
/LyricsAPP.spec

# Cachés de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# Archivos temporales/logs
*.log
*.tmp
logs/

# IDE/Editor
.vscode/
.idea/

# SO
.DS_Store
